In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',None)

In [2]:
CRSP = pd.read_csv('bankrupt_crsp.csv')

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (5,9,18,49,58) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
CRSP

,PERMNO,date,NAMEENDT,SHRCD,EXCHCD,SICCD,NCUSIP,TICKER,COMNAM,SHRCLS,TSYMBOL,NAICS,PRIMEXCH,TRDSTAT,SECSTAT,PERMCO,ISSUNO,HEXCD,HSICCD,CUSIP,DCLRDT,DLAMT,DLPDT,DLSTCD,NEXTDT,PAYDT,RCRDDT,SHRFLG,HSICMG,HSICIG,DISTCD,DIVAMT,FACPR,FACSHR,ACPERM,ACCOMP,SHRENDDT,NWPERM,DLRETX,DLPRC,DLRET,TRTSCD,NMSIND,MMCNT,NSDINX,BIDLO,ASKHI,PRC,VOL,RET,BID,ASK,SHROUT,CFACPR,CFACSHR,ALTPRC,SPREAD,ALTPRCDT,RETX,vwretd,vwretx,ewretd,ewretx,sprtrn
0,10001,20070131,NaN,11.0,3.0,4920,29274A10,EWST,ENERGY WEST INC,NaN,EWST,221210.0,Q,A,R,7953,10398,2,4925,36720410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,16.0,2.0,11.10000,-11.52500,11.35840,257.0,0.023279,11.20000,11.39000,2959.0,1.5,1.5,11.35840,NaN,20070131.0,0.023279,0.019397,0.018461,0.022283,0.021357,0.014059
1,10001,20070228,NaN,11.0,3.0,4920,29274A10,EWST,ENERGY WEST INC,NaN,EWST,221210.0,Q,A,R,7953,10398,2,4925,36720410,20061204.0,NaN,NaN,NaN,NaN,20070228.0,20070215.0,0.0,NaN,NaN,1232.0,0.14,0.0,0.0,NaN,NaN,20070329.0,NaN,NaN,NaN,NaN,1.0,5.0,15.0,2.0,11.20000,14.19000,14.19000,1990.0,0.261621,14.01000,14.18000,2989.0,1.5,1.5,14.19000,NaN,20070228.0,0.249296,-0.013988,-0.015979,0.002111,0.000857,-0.021846
2,10001,20070330,NaN,11.0,3.0,4920,29274A10,EWST,ENERGY WEST INC,NaN,EWST,221210.0,Q,A,R,7953,10398,2,4925,36720410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20070507.0,NaN,NaN,NaN,NaN,1.0,5.0,17.0,2.0,13.81000,14.87000,14.47000,992.0,0.019732,14.41000,14.49000,3002.0,1.5,1.5,14.47000,NaN,20070330.0,0.019732,0.012950,0.011475,0.006545,0.004805,0.009980
3,10001,20070430,NaN,11.0,3.0,4920,29274A10,EWST,ENERGY WEST INC,NaN,EWST,221210.0,Q,A,R,7953,10398,2,4925,36720410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,16.0,2.0,13.74000,15.05000,14.51000,1017.0,0.002764,14.51000,14.79000,3002.0,1.5,1.5,14.51000,NaN,20070430.0,0.002764,0.039815,0.038449,0.027044,0.025768,0.043291
4,10001,20070531,NaN,11.0,3.0,4920,29274A10,EWST,ENERGY WEST INC,NaN,EWST,221210.0,Q,A,R,7953,10398,2,4925,36720410,20070426.0,NaN,NaN,NaN,NaN,20070517.0,20070507.0,0.0,NaN,NaN,1232.0,0.15,0.0,0.0,NaN,NaN,20070628.0,NaN,NaN,NaN,NaN,1.0,5.0,17.0,2.0,14.23000,15.20000,14.99000,1155.0,0.043418,14.90000,15.00000,3003.0,1.5,1.5,14.99000,NaN,20070531.0,0.033081,0.038932,0.036643,0.023123,0.021362,0.032549
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1121965,93436,20190830,NaN,11.0,3.0,9999,88160R10,TSLA,TESLA INC,NaN,TSLA,336111.0,Q,A,R,53453,66252,3,9999,88160R10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211.39999,238.30000,225.61000,1340932.0,-0.066222,225.56000,225.62000,179127.0,1.0,1.0,225.61000,NaN,20190830.0,-0.066222,-0.020271,-0.022301,-0.040001,-0.041599,-0.018092
1121966,93436,20190930,NaN,11.0,3.0,9999,88160R10,TSLA,TESLA INC,NaN,TSLA,336111.0,Q,A,R,53453,66252,3,9999,88160R10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20191020.0,NaN,NaN,NaN,NaN,1.0,6.0,58.0,70.0,220.67999,247.10001,240.87000,1365915.0,0.067639,240.78000,240.84000,180000.0,1.0,1.0,240.87000,NaN,20190930.0,0.067639,0.016024,0.014162,0.017680,0.015359,0.017181
1121967,93436,20191031,NaN,11.0,3.0,9999,88160R10,TSLA,TESLA INC,NaN,TSLA,336111.0,Q,A,R,53453,66252,3,9999,88160R10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20191231.0,NaN,NaN,NaN,NaN,1.0,6.0,58.0,70.0,231.42999,328.13000,314.92001,2351125.0,0.307427,314.94000,315.07999,180245.0,1.0,1.0,314.92001,NaN,20191031.0,0.307427,0.019265,0.018094,0.006291,0.005261,0.020432
1121968,93436,20191129,NaN,11.0,3.0,9999,88160R10,TSLA,TESLA INC,NaN,TSLA,336111.0,Q,A,R,53453,66252,3,9999,88160R10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6.0,59.0,70.0,313.31000,359.51999,329.94000,1578851.0,0.047695,329.94000,330.04999,180245.0,1.0,1.0,329.94000,NaN,20191129.0,0.047695,0.034971,0.032961,0.026624,0.024961,0.034047
1121969,93436,20191231,NaN,11.0,3.0,9999,88160R10,TSLA,TESLA INC,NaN,TSLA,336111.0,Q,A,R,53453,66252,3,9999,88160R10,NaN,0.0,NaN,100.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,A,0.0,A,1.0,6.0,58.0,70.0,330.37000,430.94000,418.32999,2070288.0,0.267897,418.07999,418.29999,180245.0,1.0,1.0,418.32999,NaN,20191231.0,0.267897,0.028448,0.026200,0.044379,0.040641,0.028590

In [4]:
CRSP_u = CRSP[['TICKER','PERMNO','date','DLSTCD']]
def bankruptcy(row):
    if row['DLSTCD'] == 574:
        return 1
    return 0

CRSP_u['Bankrupt'] = CRSP_u.apply(lambda row:bankruptcy(row), axis = 1)

<ipython-input-4-d47e1fe25094>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CRSP_u['Bankrupt'] = CRSP_u.apply(lambda row:bankruptcy(row), axis = 1)

In [5]:
CRSP_u

        TICKER  PERMNO      date  DLSTCD  Bankrupt
0         EWST   10001  20070131     NaN         0
1         EWST   10001  20070228     NaN         0
2         EWST   10001  20070330     NaN         0
3         EWST   10001  20070430     NaN         0
4         EWST   10001  20070531     NaN         0
...        ...     ...       ...     ...       ...
1121965   TSLA   93436  20190830     NaN         0
1121966   TSLA   93436  20190930     NaN         0
1121967   TSLA   93436  20191031     NaN         0
1121968   TSLA   93436  20191129     NaN         0
1121969   TSLA   93436  20191231   100.0         0

[1121970 rows x 5 columns]

In [6]:
#one ticker may have several corresponding PERMNO, but since we use PERMNO to join, I just keep unique PERMNO
CRSP_t1 = CRSP_u.groupby(['PERMNO','Bankrupt'])['date'].max().to_frame().reset_index()
#CRSP_t1 = CRSP_t1.groupby(['PERMNO'])['Bankrupt'].max().to_frame().reset_index()

In [7]:
indexNames = CRSP_t1[(CRSP_t1['PERMNO'].duplicated('last')) & (CRSP_t1['Bankrupt'] == 0)].index
CRSP_t1.drop(indexNames, inplace = True)

In [8]:
CRSP_t1['year'] = CRSP_t1['date'].apply(lambda x: int(str(x)[:4]))

In [9]:
CRSP_t1.drop(columns = 'date', inplace = True)

In [10]:
bankrupt = CRSP_t1[CRSP_t1['Bankrupt'] == 1]
bankrupt

       PERMNO  Bankrupt  year
52      10304         1  2010
82      10563         1  2010
95      10656         1  2019
153     11162         1  2010
165     11278         1  2008
...       ...       ...   ...
13760   93317         1  2014
13791   93348         1  2011
13799   93355         1  2013
13836   93391         1  2013
13874   93430         1  2012

[209 rows x 3 columns]

In [11]:
print(len(CRSP_t1['PERMNO'].unique()),len(CRSP_t1))

13672 13672

In [12]:
COMPUSTAT = pd.read_csv('compustat_merged.csv')

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (33,37,955,956,957,962,977) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [13]:
# print(len(COMPUSTAT))
# COMPUSTAT_eff = COMPUSTAT[COMPUSTAT['LPERMNO'].notnull()]
# print(len(COMPUSTAT_eff))

In [14]:
# matched2 = np.intersect1d(COMPUSTAT['LPERMCO'].unique(),CRSP['PERMCO'].unique())
# unmatched2 = np.setdiff1d(COMPUSTAT['LPERMCO'].unique(),CRSP['PERMCO'].unique())
# print(len(CRSP['PERMCO'].unique()),len(COMPUSTAT['LPERMCO'].unique()),len(matched2),len(unmatched2))

In [15]:
COMPUSTAT_t1 = COMPUSTAT[['tic','conm','LPERMNO','fyear','wcap','at','re','ebit','mkvalt','dt','sale']]

In [16]:
COMPUSTAT_t1[COMPUSTAT_t1.notnull()]

,tic,conm,LPERMNO,fyear,wcap,at,re,ebit,mkvalt,dt,sale
0,AIR,AAR CORP,54594,2005.0,436.666,978.819,183.550,62.655,882.6283,320.704,897.284
1,AIR,AAR CORP,54594,2006.0,389.215,1067.633,242.153,86.708,1226.1925,327.856,1061.169
2,AIR,AAR CORP,54594,2007.0,564.932,1362.010,318.184,128.570,747.5434,529.876,1384.919
3,AIR,AAR CORP,54594,2008.0,596.894,1377.511,385.851,125.529,571.5948,406.579,1423.976
4,AIR,AAR CORP,54594,2009.0,537.879,1501.042,389.641,95.415,777.8348,392.015,1352.151
...,...,...,...,...,...,...,...,...,...,...,...
75543,NVT,NVENT ELECTRIC PLC,17676,2018.0,384.800,4552.700,-24.400,363.500,3980.4510,941.700,2213.600
75544,NVT,NVENT ELECTRIC PLC,17676,2019.0,336.500,4640.300,NaN,359.700,4326.8570,1064.600,2204.000
75545,GRIN,GRINDROD SHIPPING,17884,2018.0,66.283,447.627,-11.190,-16.924,118.9594,114.456,319.018
75546,NMCI,NAVIOS MARITIME CONTAINERS,18313,2018.0,-22.247,413.527,NaN,28.692,97.9265,218.961,133.921
75547,ACA,ARCOSA INC,18144,2018.0,432.800,2172.200,1.800,118.900,1348.5030,185.500,1460.400

In [17]:
COMPUSTAT_t1.dropna(inplace = True)

<ipython-input-17-4c57c70f20ea>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  COMPUSTAT_t1.dropna(inplace = True)

In [18]:
matched = np.intersect1d(COMPUSTAT_t1['LPERMNO'].unique(),CRSP_t1['PERMNO'].unique())
unmatched = np.setdiff1d(COMPUSTAT_t1['LPERMNO'].unique(),CRSP_t1['PERMNO'].unique())
print(len(CRSP_t1['PERMNO'].unique()),len(COMPUSTAT_t1['LPERMNO'].unique()),len(matched),len(unmatched))

13672 6526 6495 31

In [19]:
# five financial ratios: 
# X1=WCAP/AT; (liquidity)
# X2 = RE/AT; (solvency)
# X3 = EBIT/AT; (profitability)
# X4 = MKVALT/DT;(financial structure)
# X5 = SALES/AT; (turnover)

COMPUSTAT_t1['X1'] = COMPUSTAT_t1['wcap']/COMPUSTAT_t1['at']
COMPUSTAT_t1['X2'] = COMPUSTAT_t1['re']/COMPUSTAT_t1['at']
COMPUSTAT_t1['X3'] = COMPUSTAT_t1['ebit']/COMPUSTAT_t1['at']
COMPUSTAT_t1['X4'] = COMPUSTAT_t1['mkvalt']/COMPUSTAT_t1['dt']
COMPUSTAT_t1['X5'] = COMPUSTAT_t1['sale']/COMPUSTAT_t1['at']
COMPUSTAT_t2 = COMPUSTAT_t1[['tic','conm','LPERMNO','fyear','X1','X2','X3','X4','X5']]

<ipython-input-19-9e737bea44d6>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  COMPUSTAT_t1['X1'] = COMPUSTAT_t1['wcap']/COMPUSTAT_t1['at']
<ipython-input-19-9e737bea44d6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  COMPUSTAT_t1['X2'] = COMPUSTAT_t1['re']/COMPUSTAT_t1['at']
<ipython-input-19-9e737bea44d6>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  COMPUSTAT_t1['X3'] = COMPUSTAT_t1['ebit']/COMPUSTAT_t1['at']
<ipython-input-19-9e737bea44d6>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  COMPUSTAT_t1['X4'] = COMPUSTAT_t1['mkvalt']/COMPUSTAT_t1['dt']
<ipython-input-19-9e737bea44d6>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  COMPUSTAT_t1['X5'] = COMPUSTAT_t1['sale']/COMPUSTAT_t1['at']

In [20]:
COMPUSTAT_t2

,tic,conm,LPERMNO,fyear,X1,X2,X3,X4,X5
0,AIR,AAR CORP,54594,2005.0,0.446115,0.187522,0.064011,2.752159,0.916701
1,AIR,AAR CORP,54594,2006.0,0.364559,0.226813,0.081215,3.740034,0.993945
2,AIR,AAR CORP,54594,2007.0,0.414778,0.233614,0.094397,1.410789,1.016820
3,AIR,AAR CORP,54594,2008.0,0.433313,0.280107,0.091127,1.405864,1.033731
4,AIR,AAR CORP,54594,2009.0,0.358337,0.259580,0.063566,1.984197,0.900808
...,...,...,...,...,...,...,...,...,...
75528,NOMD,NOMAD FOODS LTD,15920,2017.0,0.010257,0.049112,0.060087,1.677686,0.425191
75529,NOMD,NOMAD FOODS LTD,15920,2018.0,0.018125,0.056546,0.058343,1.442174,0.406830
75543,NVT,NVENT ELECTRIC PLC,17676,2018.0,0.084521,-0.005359,0.079843,4.226878,0.486217
75545,GRIN,GRINDROD SHIPPING,17884,2018.0,0.148076,-0.024998,-0.037808,1.039346,0.712687
75547,ACA,ARCOSA INC,18144,2018.0,0.199245,0.000829,0.054737,7.269558,0.672314

In [21]:
cm = pd.merge(COMPUSTAT_t2, CRSP_t1, how = 'left', left_on = ['LPERMNO'], right_on = ['PERMNO'])

In [22]:
print(len(cm['LPERMNO'].unique()))
print(len(cm['conm'].unique()))

6526
6511

In [23]:
cm[cm['LPERMNO'] == 15791]

,tic,conm,LPERMNO,fyear,X1,X2,X3,X4,X5,PERMNO,Bankrupt,year
19554,PAAC.1,PACIFIC SPECIAL ACQUISITION,15791,2016.0,0.004617,-0.006487,-0.007762,inf,0.000000,15791.0,0.0,2019.0
19555,PAAC.1,PACIFIC SPECIAL ACQUISITION,15791,2017.0,-0.021558,-0.040037,-0.036494,inf,0.000000,15791.0,0.0,2019.0
23817,BRQS,BORQS TECHNOLOGIES INC,15791,2017.0,0.180076,-0.489740,0.043851,30.907088,1.037484,15791.0,0.0,2019.0

In [24]:
cm = cm.drop(columns = ['tic','conm','PERMNO'])

In [25]:
print(len(cm))

45941

In [26]:
cm.dropna(inplace = True)

In [27]:
print(len(cm))

45901

In [28]:
def check_year(row):
    if row['Bankrupt'] == 1:
        return row['year']
    return 2018
cm['Check_Year'] = cm.apply(lambda row:check_year(row),axis = 1)
#len(cm[cm['Bankrupt'] == 1]['conm'].unique())

In [29]:
cm.drop(columns = ['year'], inplace = True)
cm.drop_duplicates(inplace = True)

In [30]:
cm.head()

,LPERMNO,fyear,X1,X2,X3,X4,X5,Bankrupt,Check_Year
0,54594,2005.0,0.446115,0.187522,0.064011,2.752159,0.916701,0.0,2018.0
1,54594,2006.0,0.364559,0.226813,0.081215,3.740034,0.993945,0.0,2018.0
2,54594,2007.0,0.414778,0.233614,0.094397,1.410789,1.016820,0.0,2018.0
3,54594,2008.0,0.433313,0.280107,0.091127,1.405864,1.033731,0.0,2018.0
4,54594,2009.0,0.358337,0.259580,0.063566,1.984197,0.900808,0.0,2018.0

In [31]:
cm.groupby(['LPERMNO', 'Bankrupt']).size()

LPERMNO  Bankrupt
10025    0.0         11
10026    0.0         14
10028    0.0         13
10032    0.0         14
10042    0.0          1
                     ..
93432    0.0          1
93433    0.0          5
93434    0.0         10
93435    0.0          2
93436    0.0          9
Length: 6494, dtype: int64

In [32]:
cm[cm['Bankrupt'] == 1].groupby('LPERMNO').size()

LPERMNO
10656    13
11162     3
11278     2
11998     3
11999     5
         ..
93106     9
93317     4
93355     3
93391     3
93430     1
Length: 165, dtype: int64

In [33]:
cm[cm['Bankrupt'] == 0].groupby('LPERMNO').size()

LPERMNO
10025    11
10026    14
10028    13
10032    14
10042     1
         ..
93432     1
93433     5
93434    10
93435     2
93436     9
Length: 6329, dtype: int64

In [34]:
cm_Y1 = cm[cm['Check_Year'] - cm['fyear'] == 1]
cm_Y1.drop(columns = ['fyear','Check_Year','Bankrupt'], inplace = True)
cm_Y1.columns = [['LPERMNO', 'X1_Y1', 'X2_Y1', 'X3_Y1','X4_Y1','X5_Y1']]
cm_Y1.columns = cm_Y1.columns.get_level_values(0)
cm_Y1.drop_duplicates('LPERMNO', inplace = True)

cm_Y2 = cm[cm['Check_Year'] - cm['fyear'] == 2]
cm_Y2.drop(columns = ['fyear','Check_Year','Bankrupt'], inplace = True)
cm_Y2.columns = [['LPERMNO', 'X1_Y2', 'X2_Y2', 'X3_Y2','X4_Y2','X5_Y2']]
cm_Y2.columns = cm_Y2.columns.get_level_values(0)
cm_Y2.drop_duplicates('LPERMNO', inplace = True)

cm_Y3 = cm[cm['Check_Year'] - cm['fyear'] == 3]
cm_Y3.drop(columns = ['fyear','Check_Year','Bankrupt'], inplace = True)
cm_Y3.columns = [['LPERMNO', 'X1_Y3', 'X2_Y3', 'X3_Y3','X4_Y3','X5_Y3']]
cm_Y3.columns = cm_Y3.columns.get_level_values(0)
cm_Y3.drop_duplicates('LPERMNO', inplace = True)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/frame.py:4110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-34-562adb809900>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cm_Y1.drop_duplicates('LPERMNO', inplace = True)
<ipython-input-34-562adb809900>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cm_Y2.drop_duplicates('LPERMNO', inplace = True)
<ipython-input-34-562adb809900>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cm_Y3.drop_duplicates('LPERMNO', inplace = True)

In [35]:
print(len(cm_Y1), len(cm_Y2), len(cm_Y3))

3403 3419 3464

In [36]:
final_Y12 = pd.merge(cm_Y1, cm_Y2, how = 'inner', on = 'LPERMNO')
final_Y123 = pd.merge(final_Y12, cm_Y3, how = 'inner', on = 'LPERMNO')
#result = pd.merge(left, right, on='key')
#cm = pd.merge(COMPUSTAT_t2, CRSP_u, how = 'inner', left_on = ['LPERMNO'], right_on = ['PERMNO'])

In [37]:
final_Y123

,LPERMNO,X1_Y1,X2_Y1,X3_Y1,X4_Y1,X5_Y1,X1_Y2,X2_Y2,X3_Y2,X4_Y2,X5_Y2,X1_Y3,X2_Y3,X3_Y3,X4_Y3,X5_Y3
0,54594,0.399685,0.459894,0.056405,8.755406,1.146652,0.367928,0.457416,0.051326,7.630825,1.175188,0.377297,0.441856,0.045836,5.688799,1.152902
1,21020,-0.113199,-0.034886,0.093237,0.987061,0.821212,-0.069197,-0.067149,0.117155,0.972953,0.783633,-0.074770,-0.123144,0.150449,1.286549,0.846638
2,11499,0.150704,-0.140445,0.027311,1.443782,0.786801,0.133605,-0.109866,0.074836,3.619516,0.836307,0.134069,-0.006855,0.047846,1.468974,0.613578
3,81912,0.526481,0.742199,0.068294,inf,0.584591,0.654044,0.793619,0.081556,inf,0.529852,0.625188,0.803025,0.070255,inf,0.496107
4,20482,0.147344,0.234964,0.052407,3.589991,0.359213,0.381954,0.347511,0.068773,2.735104,0.395948,0.120469,0.463040,0.081751,11.259344,0.494703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2961,14406,0.121806,-0.125990,0.039396,0.523023,0.368294,0.098318,-0.124128,0.037925,0.541084,0.356660,0.118555,-0.139232,0.026800,0.564898,0.249485
2962,14344,0.014582,-0.497881,-0.004789,0.774584,0.098700,0.058772,-0.490251,-0.050608,0.656218,0.050675,0.178781,-0.426582,-0.046230,0.531234,0.042089
2963,14297,0.224980,0.154013,0.198741,5.119565,0.947364,0.177850,0.049969,0.190709,4.165553,0.995817,0.126023,0.000088,0.173194,4.276069,0.904958
2964,14756,0.088383,-0.186533,-0.067236,0.544279,0.046156,0.010191,-0.114698,-0.076144,0.417711,0.047210,0.020245,-0.032143,-0.024816,2.529713,0.107811
2965,14642,0.030641,0.078302,0.002212,0.543569,0.093245,-0.012481,0.089530,0.008014,0.771886,0.097271,0.009342,0.084560,0.085502,0.630793,0.156037

In [38]:
final_Y123 = final_Y123.replace([np.inf, -np.inf], np.nan).dropna()

In [39]:
final_Y123 = pd.merge(final_Y123,bankrupt, how = 'left', left_on = 'LPERMNO', right_on = 'PERMNO')

In [40]:
final_Y123

,LPERMNO,X1_Y1,X2_Y1,X3_Y1,X4_Y1,X5_Y1,X1_Y2,X2_Y2,X3_Y2,X4_Y2,X5_Y2,X1_Y3,X2_Y3,X3_Y3,X4_Y3,X5_Y3,PERMNO,Bankrupt,year
0,54594,0.399685,0.459894,0.056405,8.755406,1.146652,0.367928,0.457416,0.051326,7.630825,1.175188,0.377297,0.441856,0.045836,5.688799,1.152902,NaN,NaN,NaN
1,21020,-0.113199,-0.034886,0.093237,0.987061,0.821212,-0.069197,-0.067149,0.117155,0.972953,0.783633,-0.074770,-0.123144,0.150449,1.286549,0.846638,NaN,NaN,NaN
2,11499,0.150704,-0.140445,0.027311,1.443782,0.786801,0.133605,-0.109866,0.074836,3.619516,0.836307,0.134069,-0.006855,0.047846,1.468974,0.613578,NaN,NaN,NaN
3,20482,0.147344,0.234964,0.052407,3.589991,0.359213,0.381954,0.347511,0.068773,2.735104,0.395948,0.120469,0.463040,0.081751,11.259344,0.494703,NaN,NaN,NaN
4,10656,0.260890,-0.166386,-0.022407,0.324944,0.927427,0.239601,0.183559,0.042792,1.314665,0.614840,0.469241,0.348533,0.105319,5.453658,1.032816,10656.0,1.0,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2134,14406,0.121806,-0.125990,0.039396,0.523023,0.368294,0.098318,-0.124128,0.037925,0.541084,0.356660,0.118555,-0.139232,0.026800,0.564898,0.249485,NaN,NaN,NaN
2135,14344,0.014582,-0.497881,-0.004789,0.774584,0.098700,0.058772,-0.490251,-0.050608,0.656218,0.050675,0.178781,-0.426582,-0.046230,0.531234,0.042089,NaN,NaN,NaN
2136,14297,0.224980,0.154013,0.198741,5.119565,0.947364,0.177850,0.049969,0.190709,4.165553,0.995817,0.126023,0.000088,0.173194,4.276069,0.904958,NaN,NaN,NaN
2137,14756,0.088383,-0.186533,-0.067236,0.544279,0.046156,0.010191,-0.114698,-0.076144,0.417711,0.047210,0.020245,-0.032143,-0.024816,2.529713,0.107811,NaN,NaN,NaN
2138,14642,0.030641,0.078302,0.002212,0.543569,0.093245,-0.012481,0.089530,0.008014,0.771886,0.097271,0.009342,0.084560,0.085502,0.630793,0.156037,NaN,NaN,NaN

In [41]:
final_Y123.drop(columns = ['LPERMNO', 'PERMNO', 'year'],inplace = True)

In [42]:
final_Y123 = final_Y123.fillna(0)

In [48]:
final_Y123

,X1_Y1,X2_Y1,X3_Y1,X4_Y1,X5_Y1,X1_Y2,X2_Y2,X3_Y2,X4_Y2,X5_Y2,X1_Y3,X2_Y3,X3_Y3,X4_Y3,X5_Y3,Bankrupt
0,0.399685,0.459894,0.056405,8.755406,1.146652,0.367928,0.457416,0.051326,7.630825,1.175188,0.377297,0.441856,0.045836,5.688799,1.152902,0.0
1,-0.113199,-0.034886,0.093237,0.987061,0.821212,-0.069197,-0.067149,0.117155,0.972953,0.783633,-0.074770,-0.123144,0.150449,1.286549,0.846638,0.0
2,0.150704,-0.140445,0.027311,1.443782,0.786801,0.133605,-0.109866,0.074836,3.619516,0.836307,0.134069,-0.006855,0.047846,1.468974,0.613578,0.0
3,0.147344,0.234964,0.052407,3.589991,0.359213,0.381954,0.347511,0.068773,2.735104,0.395948,0.120469,0.463040,0.081751,11.259344,0.494703,0.0
4,0.260890,-0.166386,-0.022407,0.324944,0.927427,0.239601,0.183559,0.042792,1.314665,0.614840,0.469241,0.348533,0.105319,5.453658,1.032816,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2134,0.121806,-0.125990,0.039396,0.523023,0.368294,0.098318,-0.124128,0.037925,0.541084,0.356660,0.118555,-0.139232,0.026800,0.564898,0.249485,0.0
2135,0.014582,-0.497881,-0.004789,0.774584,0.098700,0.058772,-0.490251,-0.050608,0.656218,0.050675,0.178781,-0.426582,-0.046230,0.531234,0.042089,0.0
2136,0.224980,0.154013,0.198741,5.119565,0.947364,0.177850,0.049969,0.190709,4.165553,0.995817,0.126023,0.000088,0.173194,4.276069,0.904958,0.0
2137,0.088383,-0.186533,-0.067236,0.544279,0.046156,0.010191,-0.114698,-0.076144,0.417711,0.047210,0.020245,-0.032143,-0.024816,2.529713,0.107811,0.0
2138,0.030641,0.078302,0.002212,0.543569,0.093245,-0.012481,0.089530,0.008014,0.771886,0.097271,0.009342,0.084560,0.085502,0.630793,0.156037,0.0

In [43]:
len(final_Y123[final_Y123['Bankrupt'] == 1])/len(final_Y123)

0.0383356708742403

In [44]:
print(len(final_Y123),len(final_Y123[final_Y123['Bankrupt'] == 1]))

2139 82

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.svm import SVC

x = final_Y123.iloc[:,0:-1]

y = final_Y123['Bankrupt']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

model = RandomForestClassifier()
model1 = MLPClassifier(hidden_layer_sizes=(10,5,5,10))
model2 = KNeighborsClassifier(3)
model3 = LogisticRegression()
model4 = SVC()

model.fit(x_train,y_train)
print('Done!')
model1.fit(x_train,y_train)
print('Done!')
model2.fit(x_train,y_train)
print('Done!')
model3.fit(x_train,y_train)
print('Done!')
model4.fit(x_train,y_train)
print('Done!')

y_pred = model.predict(x_test)
y_pred1 = model1.predict(x_test)
y_pred2 = model2.predict(x_test)
y_pred3 = model3.predict(x_test)
y_pred4 = model4.predict(x_test)

Done!
Done!
Done!
Done!
Done!

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:938: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [46]:
from sklearn.metrics import accuracy_score

print('model', model.__class__.__name__, accuracy_score(y_test, y_pred))
print('model1', model1.__class__.__name__, accuracy_score(y_test, y_pred1))
print('model2', model2.__class__.__name__, accuracy_score(y_test, y_pred2))
print('model3', model3.__class__.__name__, accuracy_score(y_test, y_pred3))
print('model4', model4.__class__.__name__, accuracy_score(y_test, y_pred4))

x1 = [ model.__class__.__name__, 
       model1.__class__.__name__, 
       model2.__class__.__name__,
       model3.__class__.__name__,
       model4.__class__.__name__,
     ]
y1 = [ accuracy_score(y_test, y_pred),
       accuracy_score(y_test, y_pred1),
       accuracy_score(y_test, y_pred2),
       accuracy_score(y_test, y_pred3),
       accuracy_score(y_test, y_pred4),
     ]

model RandomForestClassifier 0.9617563739376771
model1 MLPClassifier 0.9546742209631728
model2 KNeighborsClassifier 0.9603399433427762
model3 LogisticRegression 0.9518413597733711
model4 SVC 0.9546742209631728

In [47]:
from sklearn.metrics import classification_report

print(model.__class__.__name__,'\n',classification_report(y_test, y_pred, digits = 3))

print(model1.__class__.__name__,'\n',classification_report(y_test, y_pred1, digits = 3))

print(model2.__class__.__name__,'\n',classification_report(y_test, y_pred2, digits = 3))

print(model3.__class__.__name__,'\n',classification_report(y_test, y_pred3, digits = 3))

print(model4.__class__.__name__,'\n',classification_report(y_test, y_pred4, digits = 3))

RandomForestClassifier
               precision    recall  f1-score   support

         0.0      0.963     0.999     0.980       674
         1.0      0.857     0.188     0.308        32

    accuracy                          0.962       706
   macro avg      0.910     0.593     0.644       706
weighted avg      0.958     0.962     0.950       706

MLPClassifier
               precision    recall  f1-score   support

         0.0      0.955     1.000     0.977       674
         1.0      0.000     0.000     0.000        32

    accuracy                          0.955       706
   macro avg      0.477     0.500     0.488       706
weighted avg      0.911     0.955     0.933       706

KNeighborsClassifier
               precision    recall  f1-score   support

         0.0      0.963     0.997     0.980       674
         1.0      0.750     0.188     0.300        32

    accuracy                          0.960       706
   macro avg      0.856     0.592     0.640       706
weighted avg      0.953     0.960     0.949       706

LogisticRegression
               precision    recall  f1-score   support

         0.0      0.955     0.997     0.975       674
         1.0      0.000     0.000     0.000        32

    accuracy                          0.952       706
   macro avg      0.477     0.499     0.488       706
weighted avg      0.911     0.952     0.931       706

SVC
               precision    recall  f1-score   support

         0.0      0.955     1.000     0.977       674
         1.0      0.000     0.000     0.000        32

    accuracy                          0.955       706
   macro avg      0.477     0.500     0.488       706
weighted avg      0.911     0.955     0.933       706

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))